@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PROJECT TIME TRACKER</h1>
    <p class="lead">Aplikacija za vođenje evidencije o utrošenom vremenu po projektima i zaposlenicima</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Projekti</h2>
        <p>
            Pregled svih projekata.
        </p>
        <p><a class="btn btn-default" href="/Projects/Index">Projects</a></p>
    </div>
    <div class="col-md-4">
        <h2>Članovi</h2>
        <p>Pregled ljudi po projektima.</p>
        <p><a class="btn btn-default" href="/ProjectMembers/Index">Project members</a></p>
    </div>
    <div class="col-md-4">
        <h2>Praćenje vremena</h2>
        <p>Pregled u utrošak vremena po projektima.</p>
        <p><a class="btn btn-default" href="/TimeTracks/Index">Time tracking</a></p>
    </div>
</div>